
a:link{
	text-decoration: none;
}

nav{
	background-color: green;
	height: 50px;
	width: 100%;
	margin: 0;
	font-size: 20px;
}

nav > div{	
	/*background-color: red;*/
	display: inline-block;
	height: 100%;
	line-height: 50px;
	padding: 0px 10px;
	color: white;
}

nav > div >a:link{
	color: white;
}

nav > div > a:visited{
	color: white;
}

#logout{
	float: right;
}

#signup{
	background-color: lightgrey;
	width: 300px;
	margin: auto;
	padding: 50px 0px;
}

#login{
	background-color: lightgrey;
	width: 300px;
	margin: auto;
	padding: 50px 0px;
}


#members_list{
	background: lightgrey;
	width: 15%;
	padding: 10px 0;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

#members_list > ul{
	list-style: none;
	padding: 0;
	
}

#chores_list{
	background-color: darkgray;
	width: 80%;
	height: 300px;
	display: inline-block;
	text-align: center;
	float: right;
	margin: 0 2%;
	
}

#chores_list > table, th, td {
	border: 1px solid black;
	margin: 1%; 
}

#chores_list table th {
	padding: 10px;
}

#chores_list table td{
	padding: 10px;
}
.chore{
	width: 100%;
}

.chore_status{
	padding: 5px;
}

#points_indicator{
	text-align: center;
	background-color: lightgrey;
	display: inline-block;
	width: 15%;
	height: 150px;
	padding: 15px 0 0 0;
	margin: 2% 0 0 1%;
}

#points_indicator  h1 {
	font-size: 40px;
}
