<div id="signup_message">
After you create an account, you'll have to join or start a household. If you're joining one, make sure you know the name your housemates chose!
</div>

<div style="background-color: black;display:inline-block; width:60%;padding: 5px; padding-bottom: 1px; border-radius: 5px;">
<img src="/images/house.png" style="width:100%">
</div>

<div align="center" id="signup" >

<h1 align="center">Do App</h1>

<%= render 'form' %>

Already have an account? <%= link_to 'Log in!', new_session_path %>

<div>
