
</br></br></br>

<div id=points_indicator > 
 
 <h2>Your Points</h2>
       <h1><%= current_user.points %></h1>	   
</div>

<div class=chores_list>
 <h2>Your Chores</h2>
   <table>
     <tr>
		<th class=chore> Chore </th>
		<th class=chore_points> Points </th>
		
		<th class=chore_status> Completed </th>
     </tr>
	 
	 <% current_user.chores.each do |chore| %>
		
	 
			<tr>
				<td class=chore> <%= chore.name %> </td>
				<td class=chore_points> <%= chore.points %> </td>
				
				<td class=chore_status> 
				
				
				<% if current_user.uncompleted_chores.include? chore %>
					
					<%= link_to image_tag("/images/x_mark.png"), complete_household_chore_path(chore.household, chore), method: :put %> 
				<% else %>
					<img src="/images/check.svg" >
				<% end %>
				</td>
			</tr>
		
	 <% end %>
	 
	<caption> Chores with a checkmark have been completed, and chores with Xs are incomplete.
	Clicking on an X will mark the chore as completed.
   </table>
</div>




