<h2 style="margin-left:15px">You have completed your chores for the week!</h2>

<div id="points_indicator" > 
  <h2>Your Points</h2>
  <h1><%= current_user.points %></h1>	   
</div>

<div id="chores_list">
 <h2>Your Chores</h2>
  <%= render partial: "chores/chores", locals: { chores: current_user.chores } %>
</div>