#points_indicator{
  text-align: center;
  background-color: lightgrey;
  display: inline-block;
  width: 15%;
  height: 150px;
  padding: 15px 0 0 0;
  margin: 2% 0 0 1%;
  h1 {
    font-size: 40px;
  }
}