<h2>If you've been invited to join a household, search for its name.</h2>

<div class="household-search">
<%= form_tag search_households_path, method: :get do %>
  <%= text_field_tag :search, nil, placeholder: 'Household' %>
  <%= submit_tag 'Search' %>
<% end %>
</div>

<h2>Or you can start your own! Think of a name and create one now!</h2>

<div  class="household-search">
  <%= render partial: "households/form", locals: { household: @household } %>
</div>