

<h2>If you've been invited to join a household, search for its name.</h2>

<%= form_tag search_households_path, method: :get do %>
  <%= text_field_tag :search, nil, placeholder: 'Household' %>
  <%= submit_tag 'Search' %>
<% end %>

<h2><%= link_to "Or you can start your own!", new_household_path  %></h2>
