<h2>Household Search Results</h2>

<table class="results">
  <% unless @households.empty? %>
    <% @households.each do |household| %>
      <%= render partial: 'households/listing', locals: {household: household} %>
    <% end %>
  <% else %>
    <p class="no-results"><em>No households match your search!</em></p>
  <% end %>
</table>