<h1><%= @household.name %></h1>

<% if @household.members %>
  <ul class="members">
    <% @household.members.each do |member| %>
      <li><%= link_to member.name, user_path(member) %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: "chores/chores", locals: { chores: @household.chores } %>